.person-table {
    border-collapse: collapse;
}

.person-table td, .person-table th {
    padding: 4px;
    border: 1px solid #CCC;
}

.sg {
    background-color: darkgreen;
    font-weight: bold;
    text-align: center;
    display: block;
}

.sr {
    background-color: red;
    font-weight: bold;
    text-align: center;
    display: block;
}

.status {
    font-weight: bold;
    text-align: center;
    display: block;
}